.copyright
    - var LovelyunURL = "https://github.com/lovelyun";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=LovelyunURL, target="_blank") Lovelyun]
