.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == 2018 ? year : 2018 + ' - ' + year;
    p © #{year} #[a(href=config.weibo, target="_blank")!= config.author]
